/*stylesheet*/

body{
	margin: 0;
	background: url('../images/space.png');
	background-repeat: repeat;
	background-size: cover;
	color: white;
	font-family: 'Amaranth', sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, {
	font-weight: 300;
}

h2, {
	font-weight: 300;
	font-style: italic;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px
	padding: 0 20px;
}

#main {
	background: black;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	/*background: gray;*/
}

#logo {
	padding: 3em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img{
	margin-bottom: 2em;
}

#content {
	/*background: red;*/
}

#nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0
}

#nav li {
	margin-bottom: 1em;
}

#nav li a{
	color: white;
	transition: all .3s ease-in-out;
}

#nav li a:hover{
	color: gray;
	text-decoration: none;
}

.quote-holder {
	height: 70vh;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2em;
}

.quote {
	font-size: 2em
}

@media (max-width: 699px) {
	
	#wrapper {
		margin: 0em auto;
	}
	
	#main {
		margin:1em;
		padding: 0em;
	}
	#logo {
		text-align: center;
		padding: 2em 0;
	}
	#nav ul {
		display: flex;
		justify-content: space-between;
	}
	#nav li {
	display: inline;
	padding: .25em;
	color: white;
	background: black;
	margin-bottom: 0;
	}

}